.c1 {
  background: aquamarine;
  color: red;
  height: 30px;
}
.c2 {
  background: gray;
  color: blue;
  height: 30px;
  font-size: 30px;
}

.c3 {
  background: #000;
  color: #fff;
}

.c4 {
  background: salmon;
  color: #fff;
}

.c5 {
  background: orange;
  color: #fff;
}
